<div class="card">
  <div class="wrapper">
    <img src="assets/images/img.jpg" alt="" />
    <ul class="list-inline text-center member-icon animate">
      <li class="list-inline-item">
        <button class="btn btn-primary">E</button>
      </li>
      <li class="list-inline-item">
        <button class="btn btn-primary">C</button>
      </li>
    </ul>
  </div>
  <div class="card-body p-2">
    <h1>{{ lipat.Name }}</h1>
    <h2>{{ lipat.Age }}</h2>
    <h3>{{ lipat.Gender }}</h3>
    <h4>{{ lipat.Address }}</h4>
  </div>
</div>
