<div class="card">
  <div class="wrapper">
    <img *ngIf="lipat.Image" src="assets/images/{{ lipat.Image }}" alt="" />
    <img *ngIf="!lipat.Image" src="assets/images/img.jpg" alt="" />
    <ul class="list-inline text-center member-icon animate">
      <li class="list-inline-item btnsize">
        <button class="btn btn-primary">
          <i class="far fa-edit"></i>
        </button>
      </li>
      <li class="list-inline-item">
        <button class="btn btn-primary btnsize">
          <i class="fas fa-search-plus"></i>
        </button>
      </li>
      <li class="list-inline-item btnsize">
        <button
          class="btn btn-primary"
          routerLink="/andy-information/{{ lipat.Id }}"
        >
          <i class="fas fa-info"></i>
        </button>
      </li>
    </ul>
  </div>
  <div class="card-body p-2">
    <h1>{{ lipat.Name }}</h1>
    <h2>{{ lipat.Age }}</h2>
    <h3>{{ lipat.Gender }}</h3>
    <h4>{{ lipat.Address }}</h4>
  </div>
</div>
